@mixin dialog() {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .6);
}
@mixin btmBtn() {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 16px;
	background: rgb(220,60,60);
}
.hd-share {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-image: url(https://yxs-app.oss-cn-beijing.aliyuncs.com/1e2df375506d515def3d39d36eca7ad1);
	background-size: 30px 30px;
	background-position: center;
	z-index: 200;
}
.hd-shareTip {
	@include dialog();
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-image: url("https://yxs-web.oss-cn-beijing.aliyuncs.com/0b7d4fd93b1916c141e3c8af9e1901f9.png");
	background-size: 170px 180px;
	background-position: top right;
	background-repeat: no-repeat;
	color: white;
	font-size: 14px;
}

.isShow {
	display: flex;
}

body {
    background: rgb(243,229,212) !important;
}
.tips {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    padding-top: 16px;
    color: rgb(102,102,102);
    line-height: 23.5px;
    text-align: center;
}
.form {
    display: flex;
    margin: 16px 18px 0 18px;
    background: rgb(255,255,255);
    border-radius: 10px;
    padding: 0 30px 35px;
    flex-direction: column;
    .form-item {
        flex: 1;
        display: flex;
        margin-top: 30px;
        input, select {
            flex: 1;
            height: 40px;
            outline: none;
            border: 1px solid rgb(221,221,221);
            border-radius: 4px;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            letter-spacing: 0.17px;
            padding: 0 10px;
			color: rgb(51,51,51);
			// color: rgb(187, 187, 187);
            &::placeholder, & option:disabled {
                color: rgb(187, 187, 187);
              }
            
        }
    }
}

.btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgb(226,63,63);
    color: white;
    font-family: PingFangSC-Medium;
    font-size: 17px;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 50px;
}